body {
	padding: 5px;
}

#linesvg .axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 2.5;
  shape-rendering: round;
  
}

#linesvg .point {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5;
  shape-rendering: round;


}

#linesvg .graph {
  font-size: 16px;
  font-weight: bold;
}

#linesvg .x.axis path {
  display: blue;
}


#scattersvg .axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 2.5;
  shape-rendering: round;
}

#scattersvg .dot {
  stroke: #000;
}
.tooltip {
  background-color: steelblue;
  position: absolute;
  width: auto;
  height: auto;
  pointer-events: none;
  color:black;
  font-weight: bold;
  border-style: none;
  


}

#donutsvg .arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

#donutsvg .arc path {
  stroke: #fff;
}