body {
	padding: 5px;
}

.axis path,
.axis line {
  fill: black;
  stroke: #000;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: black;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}