body {
	padding: 5px;
}

#linesvg path {
  stroke: black;
  stroke-width: 1;
  fill: none;
}
#linesvg .axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 1.5;
  shape-rendering: crispEdges;
}

#linesvg .x.axis path {
  display: black;
}

#scattersvg .axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 1.5;
  shape-rendering: crispEdges;
}

#scattersvg .dot {
  stroke: #000;
}
#scattersvg .tooltip {
  position: absolute;
  width: 200px;
  height: 20px;
  pointer-events: none;
}



#donutsvg .arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

#donutsvg .arc path {
  stroke: #fff;
}